# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
/.idea/
infrakit-profitbricks
vendor/github.com/davecgh/go-spew/spew/common_test.go
vendor/github.com/davecgh/go-spew/spew/dump_test.go
vendor/github.com/davecgh/go-spew/spew/dumpcgo_test.go
vendor/github.com/davecgh/go-spew/spew/dumpnocgo_test.go
vendor/github.com/davecgh/go-spew/spew/example_test.go
vendor/github.com/davecgh/go-spew/spew/format_test.go
vendor/github.com/davecgh/go-spew/spew/internal_test.go
vendor/github.com/davecgh/go-spew/spew/internalunsafe_test.go
vendor/github.com/davecgh/go-spew/spew/spew_test.go
vendor/github.com/docker/infrakit/spi/http/
vendor/github.com/golang/mock/gomock/controller_test.go
vendor/github.com/golang/mock/gomock/matchers_test.go
vendor/github.com/pmezard/go-difflib/difflib/difflib_test.go
